/* 引入重置样式和过渡动画样式 */
@import './reset.scss';
@import './transition.scss';

/* 引入自定义字体 */
@font-face {
  font-family: 'MyCustomFont';
  src: url('../assets/font/DouyinSansBold.otf');
  font-weight: normal;
  font-style: normal;
}

/* 设置根元素的样式 */
body {
  /* 设置字体 */
  font-family: 'MyCustomFont';
  //色弱
  // filter: invert(95%)
  //模糊
  // filter: blur(3px);
  //对比度
  // filter: contrast(85%);
  //透明度
  // filter: opacity(70%);
  //灰度
  // filter: grayscale(100%);
  // 色相想转
  // filter: hue-rotate(180deg);
  // filter: saturate(180%);
}
* {
  font-weight: 600 !important;
}
.el-sub-menu .el-sub-menu__icon-arrow {
  left: 85% !important;
}
html {
  
  // 修改
  .el-menu {
    background-color: $lvshihao-menu-suuny-bg;
  }
  .el-menu.el-menu--vertical {
    margin: 5px 10px;
    border-radius: 5px;
    padding: 10px 0px 5px;
    background-color: $lvshihao-menu-suuny-bg;
    //单标签被选择样式
    .el-menu-item.is-active {
      background-color: $lvshihao-menu-suuny-item-active-bg;
      box-shadow: 10px 10px 5px -4px $lvshihao-menu-suuny-item-active-box-shadow;
      div {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: $lvshihao-menu-suuny-item-active-div-svg-bg;
        svg {
          use {
            fill: $lvshihao-menu-suuny-item-active-div-svg-color;
          }
        }
      }
    }
    //单标签被选择，但是触摸的样式
    .el-menu-item.is-active:hover {
      background-color: $lvshihao-menu-suuny-item-active-hover-bg;
    }
    //单标签没有被选择样式
    .el-menu-item {
      border-radius: 8px;
      margin-top: 5px;
      div {
        margin-right: 0px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        svg {
          use {
            fill: $lvshihao-menu-suuny-item-div-svg-color;
          }
        }
      }
    }
    //单标签没有被选择，但是触摸的样式
    .el-menu-item:hover {
      background-color: $lvshihao-menu-suuny-item-hover-bg;
    }

    //多标签子标签被选中的时候，父标签样式
    .el-sub-menu.is-active {
      .el-sub-menu__title {
        background-color: $lvshihao-menu-suuny-item-active-bg;
        box-shadow: 10px 10px 5px -4px $lvshihao-menu-suuny-item-active-box-shadow;
        div {
          margin-right: 10px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background-color: $lvshihao-menu-suuny-item-active-div-svg-bg;
          svg {
            use {
              fill: $lvshihao-menu-suuny-item-active-div-svg-color;
            }
          }
        }
      }
      //多标签子标签被选中的时候，但是触摸的样式
      .el-sub-menu__title:hover {
        background-color: $lvshihao-menu-suuny-item-active-hover-bg;
      }
      .el-menu.el-menu--inline {
        //第二层的sub-menu没被选中的样式
        .el-sub-menu {
          .el-sub-menu__title {
            box-shadow: none;
            background-color: $lvshihao-menu-suuny-bg;
            div {
              background-color: transparent;
              margin-right: 0px;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              svg {
                use {
                  fill: $lvshihao-menu-suuny-item-div-svg-color;
                }
              }
            }
          }
          //多标签子标签被选中的时候，但是触摸的样式
          .el-sub-menu__title:hover {
            background-color: $lvshihao-menu-suuny-item-hover-bg;
            div {
              background-color: $lvshihao-menu-suuny-item-hover-bg;
            }
          }
          .el-menu.el-menu--inline {
            background-color: $lvshihao-menu-suuny-bg !important;
            .el-menu-item {
              margin: 5px 0px;
              background-color: $lvshihao-menu-suuny-bg;
              box-shadow: none;
              color: $lvshihao-menu-suuny-item-div-svg-color;
              svg {
                use {
                  fill: $lvshihao-menu-suuny-item-div-svg-color;
                }
              }
            }
          }
        }
        //第二层的sub-men被选中的样式
        .el-sub-menu.is-active {
          margin-top:5px;
          .el-sub-menu__title {
            background-color: $lvshihao-menu-suuny-bg;
            box-shadow: 10px 10px 5px -4px $lvshihao-menu-suuny-item-active-box-shadow;
            div {
              margin-right: 10px;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              background-color: $lvshihao-menu-suuny-item-active-div-svg-bg;
              svg {
                use {
                  fill: $lvshihao-menu-suuny-item-active-div-svg-color;
                }
              }
            }
          }
          .el-menu.el-menu--inline {
             //第三层的单个标签被选择的样式
            .el-menu-item.is-active {
              margin: 5px 0px;
              background-color: $lvshihao-menu-suuny-bg;
              box-shadow: none;
              color: $lvshihao-menu-suuny-item-active-div-svg-bg;
              svg {
                use {
                  fill: $lvshihao-menu-suuny-item-active-div-svg-bg;
                }
              }
            }
          }
        }
        //第二层的单个标签被选择的样式
        .el-menu-item.is-active {
          margin: 5px 0px;
          background-color: $lvshihao-menu-suuny-bg;
          box-shadow: none;
          color: $lvshihao-menu-suuny-item-active-div-svg-bg;
          div{
            margin-right:0px;
            background-color: $lvshihao-menu-suuny-bg;
            svg {
              use {
                fill: $lvshihao-menu-suuny-item-active-div-svg-bg;
              }
            }
          }
        }
      }
    }

    //多标签子标签未被选中的时候，父标签样式
    .el-sub-menu {
      .el-sub-menu__title {
        div {
          margin-right: 0px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          svg {
            use {
              fill: $lvshihao-menu-suuny-item-div-svg-color;
            }
          }
        }
      }
       //标签子标签未被选中的时候，但是触摸的样式
      .el-sub-menu__title:hover {
        background-color: $lvshihao-menu-suuny-item-hover-bg;
      }
      .el-menu.el-menu--inline {
        background-color: $lvshihao-menu-suuny-bg !important;
        .el-menu-item {
          margin: 5px 0px;
          background-color: $lvshihao-menu-suuny-bg;
          box-shadow: none;
          color: $lvshihao-menu-suuny-item-div-svg-color;
          svg {
            use {
              fill: $lvshihao-menu-suuny-item-div-svg-color;
            }
          }
        }
      }
    }
   
  }
  .el-menu.el-menu--vertical.el-menu--collapse{
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    margin: 0px;
    .el-menu-item{
      .el-menu-tooltip__trigger.el-tooltip__trigger.el-tooltip__trigger{
        width: 100%;
        height: 100%;
        div{
          margin-right:0px
        }
      }
    }
    .el-sub-menu.is-active{
      .el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger{
        padding: 0px;
        width: 100%;
        height: 100%;
        div{
          margin-right:0px
        }
      }
    }
  }
  .el-popper.is-pure{
    border-radius: 8px;
    background: $lvshihao-menu-suuny-bg;
    .el-menu--vertical.el-menu--popup-container{
      border-radius: 8px;
      .el-menu.el-menu--popup.el-menu--popup-right-start{
        border-radius: 8px;
        padding: 5px 10px;
        /* 菜单偏上一点 */
        .el-menu-item *{
          vertical-align:text-top;
        }
        .el-menu-item:hover{
          border-radius: 8px;
           background-color: rgb(242, 242, 248);
        }
        //单菜单被点击状态
        .el-menu-item.is-active{
          border-radius: 8px;
          background-color: $lvshihao-menu-suuny-item-active-div-svg-bg;
          color: $lvshihao-menu-suuny-item-active-div-svg-color;
          div{
            svg{
              use{
                fill: $lvshihao-menu-suuny-item-active-div-svg-color;
              }
            }
          }
        }
        //多级菜单
        .el-sub-menu{
          .el-sub-menu__title{
            margin: 0px;
          }
          .el-sub-menu__title:hover{
            border-radius: 8px;
             background-color: rgb(242, 242, 248);
          }
        }
         //多级菜单被点击
        .el-sub-menu.is-active{
          .el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger{
            background-color: $lvshihao-menu-suuny-item-active-div-svg-bg;
            color: $lvshihao-menu-suuny-item-active-div-svg-color ;
          }
          div{
            svg{
              use{
                fill: $lvshihao-menu-suuny-item-active-div-svg-color;
              }
            }
          }
        }
      }
    }
  }
 
 
  /* 设置默认主题的滚动条背景颜色 */
  .el-scrollbar {
    --el-scrollbar-bg-color: $base-sunny-color;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $base-theme-sunny-color;
  }

  .el-tag.el-tag--primary {
    --el-tag-bg-color: $base-theme-sunny-color;
    --el-tag-text-color: #ffffff;
  }
  .el-tag.el-tag--primary:hover {
    --el-tag-bg-color: #728ce3;
  }
  /* 多选框选择的背景颜色 */
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $base-theme-sunny-color;
    border-color: $base-theme-sunny-color;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $base-theme-sunny-color;
    border-color: $base-theme-sunny-color;
  }
  .el-checkbox__inner:hover {
    border-color: $base-theme-sunny-color;
  }
  /* 单选框选中的背景颜色 */
  .el-radio-button__original-radio:checked + .el-radio-button__inner {
    background-color: $base-theme-sunny-color;
  }

  /*分页选中的背景颜色*/
  .el-pagination.is-background .btn-next.is-active,
  .el-pagination.is-background .btn-prev.is-active,
  .el-pagination.is-background .el-pager li.is-active {
    background-color: $base-theme-sunny-color;
  }

  /* tag 标签的主颜色 */
  .el-check-tag {
    color: black;
  }
  .el-check-tag--primary {
    background-color: rgb(219, 219, 219);
  }

  /* tag 标签的选中颜色 */
  .el-check-tag.is-checked.el-check-tag--primary {
    // filter: drop-shadow(-1px 2px 0px #1dbea1) !important;
    filter: drop-shadow(-1px 1px 3px $base-theme-sunny-color) !important;
    background-color: $base-sunny-color;
    color: black;
  }

  /* tag 标签的选中颜色 */
  .el-check-tag.is-checked.el-check-tag--primary:hover {
    // filter: drop-shadow(-1px 2px 0px #1dbea1) !important;
    filter: drop-shadow(-1px 1px 3px $base-theme-sunny-color) !important;
    background-color: $base-sunny-color;
    color: white;
  }

  .el-card {
    filter: drop-shadow(-4px 0px 0px $base-theme-sunny-color) !important;
    .el-card__header {
      background: $base-sunny-color !important;
      filter: drop-shadow(0px 3px 2px $base-theme-sunny-color) !important;
    }
    .el-card__footer {
      background: $base-sunny-color !important;
      filter: drop-shadow(0px -3px 2px $base-theme-sunny-color) !important;
    }
  }

  .el-dialog {
    filter: drop-shadow(0px 0px 5px $base-theme-sunny-color);
  }
  .el-drawer {
    filter: drop-shadow(5px 0px 30px $base-theme-sunny-color);
  }

  /* 主要按钮样式 */
  .el-button--primary {
    --el-button-bg-color: $base-theme-sunny-color;
    --el-button-hover-bg-color: #728ce3;
  }

  /* 设置主要按钮的文字颜色 */
  .el-button--primary.is-link,
  .el-button--primary.is-plain,
  .el-button--primary.is-text {
    --el-button-text-color: $base-theme-sunny-color;
  }
}

html.dark {
  // 修改
  .el-menu {
    background-color: $lvshihao-menu-moon-bg;
  }
  .el-menu.el-menu--vertical {
    margin: 5px 10px;
    border-radius: 5px;
    padding: 10px 0px 5px;
    background-color: $lvshihao-menu-moon-bg;
    //单标签被选择样式
    .el-menu-item.is-active {
      background-color: $lvshihao-menu-moon-item-active-bg;
      box-shadow: 0px 0px 0px 0px $lvshihao-menu-moon-item-active-box-shadow;
      span{
        color:$lvshihao-menu-moon-item-active-div-svg-color;
      }
      div {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: $lvshihao-menu-moon-item-active-div-svg-bg;
        svg {
          use {
            fill: $lvshihao-menu-moon-item-active-div-svg-color;
          }
        }
      }
    }
    //单标签被选择，但是触摸的样式
    .el-menu-item.is-active:hover {
      background-color: $lvshihao-menu-moon-item-active-hover-bg;
    }
    //单标签没有被选择样式
    .el-menu-item {
      border-radius: 8px;
      margin-top: 5px;
      div {
        margin-right: 0px;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        svg {
          use {
            fill: $lvshihao-menu-moon-item-div-svg-color;
          }
        }
      }
    }
    //单标签没有被选择，但是触摸的样式
    .el-menu-item:hover {
      background-color: $lvshihao-menu-moon-item-hover-bg;
    }

    //多标签子标签被选中的时候，父标签样式
    .el-sub-menu.is-active {
      .el-sub-menu__title {
        color:$lvshihao-menu-moon-item-active-div-svg-color;
        background-color: $lvshihao-menu-moon-item-active-bg;
        box-shadow: 0px 0px 0px 0px $lvshihao-menu-moon-item-active-box-shadow;
        div {
          margin-right: 10px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          background-color: $lvshihao-menu-moon-item-active-div-svg-bg;
          svg {
            use {
              fill: $lvshihao-menu-moon-item-active-div-svg-color;
            }
          }
        }
      }
      //多标签子标签被选中的时候，但是触摸的样式
      .el-sub-menu__title:hover {
        background-color: $lvshihao-menu-moon-item-active-hover-bg;
      }
      .el-menu.el-menu--inline {
        //第二层的sub-menu没被选中的样式
        .el-sub-menu {
          .el-sub-menu__title {
            box-shadow: none;
            background-color: $lvshihao-menu-moon-bg;
            div {
              background-color: transparent;
              margin-right: 0px;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              svg {
                use {
                  fill: $lvshihao-menu-moon-item-div-svg-color;
                }
              }
            }
          }
          //多标签子标签被选中的时候，但是触摸的样式
          .el-sub-menu__title:hover {
            background-color: $lvshihao-menu-moon-item-hover-bg;
            div {
              background-color: $lvshihao-menu-moon-item-hover-bg;
            }
          }
          .el-menu.el-menu--inline {
            background-color: $lvshihao-menu-moon-bg !important;
            .el-menu-item {
              margin: 5px 0px;
              background-color: $lvshihao-menu-moon-bg;
              box-shadow: none;
              color: $lvshihao-menu-moon-item-div-svg-color;
              svg {
                use {
                  fill: $lvshihao-menu-moon-item-div-svg-color;
                }
              }
            }
          }
        }
        //第二层的sub-men被选中的样式
        .el-sub-menu.is-active {
          margin-top:5px;
          .el-sub-menu__title {
            background-color: $lvshihao-menu-moon-bg;
            box-shadow: 0px 0px 0px 0px $lvshihao-menu-moon-item-active-box-shadow;
            div {
              margin-right: 10px;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              background-color: $lvshihao-menu-moon-item-active-div-svg-bg;
              svg {
                use {
                  fill: $lvshihao-menu-moon-item-active-div-svg-color;
                }
              }
            }
          }
          .el-menu.el-menu--inline {
             //第三层的单个标签被选择的样式
            .el-menu-item.is-active {
              margin: 5px 0px;
              background-color: $lvshihao-menu-moon-bg;
              box-shadow: none;
              color: $lvshihao-menu-moon-item-active-div-svg-bg;
              svg {
                use {
                  fill: $lvshihao-menu-moon-item-active-div-svg-bg;
                }
              }
            }
          }
        }
        //第二层的单个标签被选择的样式
        .el-menu-item.is-active {
          margin: 5px 0px;
          background-color: $lvshihao-menu-moon-bg;
          box-shadow: none;
          span{
            color:$lvshihao-menu-moon-item-active-div-svg-color;
          }
          div{
            margin-right:0px;
            background-color: $lvshihao-menu-moon-bg;
            svg {
              use {
                fill: $lvshihao-menu-moon-item-active-div-svg-color;
              }
            }
          }
        }
      }
    }

    //多标签子标签未被选中的时候，父标签样式
    .el-sub-menu {
      .el-sub-menu__title {
        div {
          margin-right: 0px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          svg {
            use {
              fill: $lvshihao-menu-moon-item-div-svg-color;
            }
          }
        }
      }
       //标签子标签未被选中的时候，但是触摸的样式
      .el-sub-menu__title:hover {
        background-color: $lvshihao-menu-moon-item-hover-bg;
      }
      .el-menu.el-menu--inline {
        background-color: $lvshihao-menu-moon-bg !important;
        .el-menu-item {
          margin: 5px 0px;
          background-color: $lvshihao-menu-moon-bg;
          box-shadow: none;
          color: $lvshihao-menu-moon-item-div-svg-color;
          svg {
            use {
              fill: $lvshihao-menu-moon-item-div-svg-color;
            }
          }
        }
      }
    }
   
  }
  .el-menu.el-menu--vertical.el-menu--collapse{
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    margin: 0px;
    .el-menu-item{
      .el-menu-tooltip__trigger.el-tooltip__trigger.el-tooltip__trigger{
        width: 100%;
        height: 100%;
        div{
          margin-right:0px
        }
      }
    }
    .el-sub-menu.is-active{
      .el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger{
        padding: 0px;
        width: 100%;
        height: 100%;
        div{
          margin-right:0px
        }
      }
    }
  }
  .el-popper.is-pure{
    border-radius: 8px;
    background: $lvshihao-menu-moon-bg;
    .el-menu--vertical.el-menu--popup-container{
      border-radius: 8px;
      .el-menu.el-menu--popup.el-menu--popup-right-start{
        border-radius: 8px;
        padding: 5px 10px;
        /* 菜单偏上一点 */
        .el-menu-item *{
          vertical-align:text-top;
        }
        .el-menu-item{
          div{
            svg{
              use{
                fill: $lvshihao-menu-moon-item-div-svg-color;
              }
            }
          }
        }
        .el-menu-item:hover{
          border-radius: 8px;
           background-color:$lvshihao-menu-moon-item-hover-bg;
        }
        //单菜单被点击状态
        .el-menu-item.is-active{
          border-radius: 8px;
          background-color: $lvshihao-menu-moon-bg;
          span{
            color: $lvshihao-menu-moon-item-active-div-svg-color;
          }
          div{
            svg{
              use{
                fill: $lvshihao-menu-moon-item-active-div-svg-color;
              }
            }
          }
        }
        //多级菜单
        .el-sub-menu{
          .el-sub-menu__title{
            margin: 0px;
            div{
              svg{
                use{
                  fill: $lvshihao-menu-moon-item-div-svg-color;
                }
              }
            }
          }
          .el-sub-menu__title:hover{
            border-radius: 8px;
            background-color:$lvshihao-menu-moon-item-hover-bg;
          }
        }
         //多级菜单被点击
        .el-sub-menu.is-active{
          .el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger{
            background-color: $lvshihao-menu-moon-item-active-div-svg-bg;
            color: $lvshihao-menu-moon-item-active-div-svg-color ;
          }
          div{
            svg{
              use{
                fill: $lvshihao-menu-moon-item-div-svg-color;
              }
            }
          }
        }
      }
    }
  }


  /* 设置深色主题的滚动条背景颜色 */
  .el-scrollbar {
    --el-scrollbar-bg-color: $base-moon-color;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $base-theme-moon-color;
  }

  /* 设置深色主题的卡片样式 */
  .el-card {
    --el-card-border-color: #121212;
    --el-card-bg-color: #121212;
    filter: drop-shadow(-4px 0px 0px $base-theme-moon-color) !important;
    .el-card__header {
      background: $base-moon-color !important;
      filter: drop-shadow(0px 3px 2px $base-theme-moon-color) !important;
    }
    .el-card__footer {
      background: $base-moon-color !important;
      filter: drop-shadow(0px -3px 2px $base-theme-moon-color) !important;
    }
  }

  .el-menu-item.is-active span {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
  }

  /* 多选框选择的背景颜色 */
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $base-theme-moon-color;
    border-color: #9a0909;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $base-theme-moon-color;
    border-color: #9a0909;
  }
  .el-checkbox__inner:hover {
    border-color: #9a0909;
  }
  /* 单选框选中的背景颜色 */
  .el-radio-button__original-radio:checked + .el-radio-button__inner {
    background-color: $base-theme-moon-color;
  }
  /*分页选中的背景颜色*/
  .el-pagination.is-background .btn-next.is-active,
  .el-pagination.is-background .btn-prev.is-active,
  .el-pagination.is-background .el-pager li.is-active {
    background-color: $base-theme-moon-color;
  }
  .el-check-tag {
    color: white;
  }
  .el-tag.el-tag--primary {
    --el-tag-bg-color: red;
    --el-tag-text-color: #ffffff;
  }
  .el-tag.el-tag--primary:hover {
    --el-tag-bg-color: #9a0909;
  }
  /* tag 标签的主颜色 */
  .el-check-tag--primary {
    background-color: $base-theme-moon-color;
  }
  /* tag 标签的选中颜色 */
  .el-check-tag.is-checked.el-check-tag--primary {
    filter: drop-shadow(-1px 1px 3px $base-theme-moon-color) !important;
    background-color: black;
    color: white;
  }
  .el-dialog {
    filter: drop-shadow(0px 0px 5px $base-theme-moon-color);
  }
  .el-drawer {
    filter: drop-shadow(5px 0px 30px $base-theme-moon-color);
  }
  .el-dropdown span {
    color: rgb(255, 255, 255);
  }
}

//不受主题影响

/* 禁止选择文字 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.searchForm .el-form-item {
  margin-bottom: 0px !important;
}

/* 按钮区域样式 */
.el-button {
  border: 0px !important;
  border-radius: 5px;
}

/* 对话框样式 */
.el-dialog {
  border-radius: 8px !important;
}

/* 设置卡片的样式 */
.el-card {
  opacity: 0.85; /* 设置透明度为 85% */
  --el-card-padding: 15px !important;
  border-radius: $base-card-border-radius !important;
  .el-card__header {
    border-bottom: 0;
  }
  .el-card__body {
    .el-input {
      width: $base-input-width;
    }
    .el-select {
      width: $base-select-width;
    }
  }
  .el-card__footer {
    border-top: 0;
  }
}

.card-table-style {
  .el-card__body {
    padding: 10px !important;
  }
  margin-top: 20px;
}
/* 设置卡片头部的样式 */
.card-header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* el-check-tag标签样式 */
.el-check-tag {
  padding: 5px 7px;
  font-size: 13px;
}

/* 设置分页器的样式 */
.pagination-style {
  display: flex;
  justify-content: center;
}

/* 设置弹出窗的样式 */
.modal-style {
  display: flex;
  justify-content: center;
}

.el-tag.el-tag--primary {
  --el-tag-text-color: aliceblue !important;
}

.copy-span:hover {
  text-decoration: underline;
  color: $base-theme-sunny-color;
  cursor: pointer;
}

.height-light-span {
  margin: 0px 2px;
  color: $base-theme-sunny-color;
}

.height-light-span-error {
  color: red;
}

/* 菜单区域样式 */
.el-menu-item {
  height: 38px !important;
}
.el-sub-menu__title {
  border-radius: 8px !important;
  height: 38px !important;
}
.el-menu.el-menu--inline {
  padding: 0px 10px !important;
}

.el-menu.el-menu--collapse {
  li {
    div {
      justify-content: center;
    }
  }
}
.el-sub-menu__title *{
  vertical-align: text-top;
}


//横向导航栏
.el-menu--horizontal {
  height: 45px;
  .el-menu-item {
    margin: 3px 15px;
  }
}
.el-sub-menu__title.el-tooltip__trigger.el-tooltip__trigger {
  margin: 3px 0px;
}



