/* 引入重置样式和过渡动画样式 */
@import './reset.scss';
@import './transition.scss';

/* 引入自定义字体 */
@font-face {
  font-family: 'MyCustomFont';
  src: url('../assets/font/DouyinSansBold.otf');
  font-weight: normal;
  font-style: normal;
}

/* 设置根元素的样式 */
body {
  /* 设置字体 */
  font-family: "MyCustomFont";
}


html {

  /* 设置默认主题的滚动条背景颜色 */
  .el-scrollbar {
    --el-scrollbar-bg-color: $base-menu-sunny-background;
  }
  /* 设置卡片的样式 */
  .el-card {
    --el-card-border-radius: 8px;
  }
  /* 设置对话框的标题和内容区域的样式 */
  .el-card__header {
    border-bottom: 0;
  }

  /* 设置对话框的内容区域的宽度 */
  /* 设置输入框和下拉框的宽度 */
  .el-card__body {
    .el-input {
      --el-input-width: 240px;
    }
    .el-select {
      --el-select-width: 240px;
    }
  }

  /* 设置对话框的尾部的样式 */
  .el-card__footer {
    border-top: 0;
  }

  /* tag 标签的主颜色 */
  .el-check-tag--primary {
    background-color: #5b6898;
    color: white;
  }
  /* 单选框选中的背景颜色 */
  .el-radio-button__original-radio:checked+.el-radio-button__inner{
    background-color: #5072e6;
  }
  
  /*分页选中的背景颜色*/
  .el-pagination.is-background .btn-next.is-active, .el-pagination.is-background .btn-prev.is-active, .el-pagination.is-background .el-pager li.is-active{
    background-color: #5072e6;
  }

  /* tag 标签的选中颜色 */
  .el-check-tag.is-checked.el-check-tag--primary {
    background-color: #5072e6;
    color: white;
  }
  /* 禁止选择文字 */
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  /* 对话框样式 */
  .el-dialog {
    border-radius: 8px!important;
  }

  /* 菜单区域样式 */
  .el-menu-item {
    height: 45px!important;
  }
  .el-sub-menu__title {
    height: 45px!important;
  }

  /* 选中菜单项样式 */
  .el-menu-item.is-active {
    color: white;
    background: #5072e6;
  }
  .el-card {
    opacity: 0.85; /* 设置透明度为 85% */
  }
  
  /* 菜单栏选中的文字样式 */
  .el-menu-item.is-active span{
    color: black;
  }

  /* 按钮区域样式 */
  .el-button {
    border-radius: 5px;
  }

  /* 主要按钮样式 */
  .el-button--primary {
    --el-button-bg-color: #5072e6;
    --el-button-hover-bg-color: #728ce3;
  }

  /* 设置主要按钮的文字颜色 */
  .el-button--primary.is-link,
  .el-button--primary.is-plain,
  .el-button--primary.is-text {
    --el-button-text-color: #5072e6;
  }

}

html.dark {
  /* 设置深色主题的滚动条背景颜色 */
  .el-scrollbar {
    --el-scrollbar-bg-color: $base-menu-moon-background;
  }
  
  /* 设置深色主题的卡片样式 */
  .el-card{
    --el-card-border-color: #121212;
    --el-card-bg-color: #121212;
    --el-card-border-radius: 8px;
  }

  .el-menu-item.is-active span{
    color: rgb(255, 255, 255);
  }
  .el-dropdown span{
    color: rgb(255, 255, 255);
  }
}





