//scss全局变量

//定义项目的主题颜色
$title-jcm:25px;
//左侧菜单的宽度
$base-menu-width:260px;

//白天
//左侧菜单的背景颜色
$base-menu-sunny-background:#ffffff;
//tabbar的背景颜色
$base-tabbar-sunny-background:#ffffff;
//tabs的背景颜色
$base-tabbar-sunny-tabs-background:#ffffff;
//内容区的背景颜色
$base-main-sunny-background: #f2f3f5;

//黑夜
$base-color:#04141e;
//左侧菜单的背景颜色
$base-menu-moon-background:#04141e;
//tabbar的背景颜色
$base-tabbar-moon-background:#04141e;
//tabs的背景颜色
$base-tabbar-moon-tabs-background:#04141e;
//内容区的背景颜色
$base-main-moon-background: rgb(0, 0, 0);
//内容区的内边距
$base-main-context-padding:20px;

//顶部导航的高度
$base-tabbar-height:45px;
//顶部Tabs的高度
$base-tabs-height:35px;
//左侧菜单logo高度设置
$base-menu-logo-height:50px;


//左侧菜单折叠之后的宽度
$base-menu-min-width:60px;